@model IEnumerable<NorthWind.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p style="text-align:right">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
           

            @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, new { @class = "btn btn-primary" }) |
            <a href="@Url.Action("Edit", "Categories", new { id = item.CategoryId })" style="color:cornflowerblue"><span class="glyphicon glyphicon-pencil"></span></a>
            |
            <a href="@Url.Action("Delete", "Categories", new { id = item.CategoryId })" style="color:grey"><span class="glyphicon glyphicon-trash"></span></a>

        </td>
    </tr>
}

</table>
